html, body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .header-font {
	font-family: "Maven Pro", sans-serif;
}

#splash {
	width: 100%;
	text-align: center;
	background-color: #F3F3F3;
	margin: 0;
	position: relative;
}

#splash h1 {
	font-size: 5em;
}

#splash .head-text {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
}

#splash .head-text img#main-logo {
	width: 12em;
	height: 12em;
}

#main-footer {
	margin-top: 60px;
}

#main-footer .well {
	padding: 45px;
}

.section-header {
	margin: 0 0;
	text-align: center;
	background-image: url(../images/triangles-dense.png);
	background-size: cover;
	background-color: rgba(76, 175, 80, 0.95);
	padding: 30px;
}

.section-header h1 {
	margin: 0;
	font-weight: 700;
	color: #FFF;
}

.spacer {
	padding: 20px;
}

/* bootstrap replacement */

.navbar {
	height: 90px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0 !important;
}

.navbar-default {
	background-color: rgba(123, 31, 162, 1);
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
	font-size: 1.20em;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
	font-size: 1.50em;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #FFFFFF;
}

#main-body .container {
	padding-top: 15px;
}

.jumbotron {
	background-image: url(../images/triangles-dense.png);
	background-size: cover;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	
	.navbar .navbar-nav li {
		margin: auto 5px;
		border-radius: 5px;
	}
	
	.navbar .navbar-nav li:hover {
		transition: all .2s ease-out;
		-moz-transition: all .2s ease-out;
		-webkit-transition: all .2s ease-out;
		background-color: rgba(255, 255, 255, 0.25);
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}