<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% if page.indexing == false %}<meta name="robots" content="noindex">{% endif %}
		<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

		<link rel="icon" href="/images/logo.png" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/main.css" />
		{% for style in page.styles %}
			<link rel="stylesheet" href="{{ style }}" />
		{% endfor %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js" integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{% for script in page.scripts %}
			<script src="{{ script }}"></script>
		{% endfor %}
	</head>
	<body>
		<div id="navbar-container">
			<nav class="container">
				<!-- <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand navbar-brand-lime dropdown-toggle" href="/" id="main-brand"><img src="/images/logo.png" width="24" height="24" style="display:inline-block;" />&nbsp;EasyCTF 2016</a>
					<ul class="nav navbar-nav hidden-xs" id="ctf-selector-menu-list">
						<li class="dropdown">
							<a class="dropdown-toggle" id="dropdown-ctf-selector" data-toggle="dropdown" href="#">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" id="ctf-selector-menu">
								<li class="easyctf2015-link"><a role="menuitem" tabindex="-1" href="//2015.easyctf.com" class="easyctf2015-link">EasyCTF 2015</a></li>
								<li class="easyctf2014-link"><a role="menuitem" tabindex="-1" href="//2014.easyctf.com" class="easyctf2014-link">EasyCTF 2014</a></li>
							</ul>
						</li>
					</ul>
				</div> -->

				<div class="collapse navbar-collapse" id="main-navbar">
					<ul class="nav nav-justified">
						<li class="dropdown left_link">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-info-circle fa-fw"></i> About <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li id="link_about"><a href="/about"><i class="fa fa-info-circle fa-fw"></i> About</a></li>
								<li id="link_sponsors"><a href="/sponsors"><i class="fa fa-suitcase fa-fw"></i> Sponsors</a></li>
								<li id="link_rules"><a href="/rules"><i class="fa fa-trophy fa-fw"></i> Rules and Prizes</a></li>
							</ul>
						</li>
						<li id="link_learn" class="left_link"><a href="/learn"><i class="fa fa-bars fa-fw"></i> Learn</a></li>
						<li class="dropdown middle_link">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
								<img src="/images/logo.png" width="24" height="24" style="display:inline-block;" />&nbsp;EasyCTF 2016 <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li class="easyctf2016-link"><a role="menuitem" tabindex="-1" href="/" class="easyctf2015-link">
									<img src="/images/logo.png" width="24" height="24" style="display:inline-block;" />&nbsp;EasyCTF 2016
								</a></li>
								<li class="easyctf2015-link"><a role="menuitem" tabindex="-1" href="//2015.easyctf.com" class="easyctf2015-link">
									<img src="/images/easyctf-2015.png" width="24" height="24" style="display:inline-block;" />&nbsp;EasyCTF 2015
								</a></li>
								<li class="easyctf2014-link"><a role="menuitem" tabindex="-1" href="//2014.easyctf.com" class="easyctf2014-link">
									<img src="/images/easyctf-2014.png" width="24" height="24" style="display:inline-block;" />&nbsp;EasyCTF 2014
								</a></li>
							</ul>
						</li>
						<li id="link_scoreboard" class="right_link"><a href="/scoreboard"><i class="fa fa-bars fa-fw"></i> Scoreboard</a></li>
						<li id="link_writeups" class="right_link"><a href="http://writeups.easyctf.com"><i class="fa fa-pencil-square-o fa-fw"></i> Writeups</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div id="main-content">
			{{ content }}
		</div>
		<footer id="main-footer">
			{% include footer.html %}
		</footer>
	</body>
</html>
